aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
attrs==23.1.0
bitarray==2.8.5
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
crvusdsim @ git+https://github.com/Tcintra/crvusdsim@fab4904688a4a2867d8a1d51f1da0b810464ce50
curvesim @ git+https://github.com/curveresearch/curvesim.git@5e0a36b0b99065a695894d8c87b575d3111aa3d2
cycler==0.12.1
cytoolz==0.12.2
eth-abi==4.2.1
eth-account==0.10.0
eth-hash==0.5.2
eth-keyfile==0.7.0
eth-keys==0.4.0
eth-rlp==1.0.0
eth-typing==3.5.2
eth-utils==2.3.1
fonttools==4.46.0
frozenlist==1.4.0
gmpy2==2.1.5
hexbytes==0.3.1
idna==3.6
imageio==2.33.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
lru-dict==1.2.0
MarkupSafe==2.1.3
matplotlib==3.8.2
multidict==6.0.4
networkx==3.2.1
numpy==1.26.2
packaging==23.2
pandas==2.1.4
parsimonious==0.9.0
Pillow==10.1.0
protobuf==4.25.1
pycryptodome==3.19.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyunormalize==15.1.0
referencing==0.32.0
regex==2023.10.3
requests==2.31.0
rlp==4.0.0
rpds-py==0.13.2
scikit-learn==1.3.2
scipy==1.11.4
six==1.16.0
tenacity==8.2.3
threadpoolctl==3.2.0
toolz==0.12.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
web3==6.12.0
websockets==12.0
yarl==1.9.4
